main {
    min-height: 80vh;
}

.count {
    margin-left: 0.5rem;
}

h1 {
    padding: 24px 0px;
}

/* carousel */
.carousel-item {
    background-color: #343a40;
    padding: 1rem 0 3rem;
    min-height: 420px;
}

.carousel-content-wrapper {
    width: 90%;
    height: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1.6rem;
}

.text-container > h3 {
    color: white;
    text-align: center;
    text-decoration: none;
}

.carousel-rating {
    display: flex;
    justify-content: center;
}
