main {
  min-height: 80vh;
}

.count {
  margin-left: 0.5rem;
}

h1 {
  padding: 24px 0px;
}

/* carousel */
.carousel-item {
  position: relative;
  background-color: #343a40;
  padding: 24px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
  color: grey;
}

.carousel-caption {
  color: white;
  max-width: 480px;
  text-align: left;
  position: absolute;
  top: 72px;
  left: 620px;
}
.carousel-caption h3 {
  color: white;
  font-size: 32px;
}
.carousel-caption p {
  color: white;
  font-size: 24px;
  position: relative;
  top: 12px;
}

.carousel-item.active {
  position: relative;
  align-items: center;
  justify-content: center;
}

.carousel img {
  height: 300px;
  margin: 40px;
  /* border-radius: 12px; */
  position: relative;
  left: 100px;
  bottom: 12px;
}
